<!-- Intro -->
<div class="row intro">
    <section class="nine columns">
        <h2>{{title}}</h2>
        <p>{{intro}}</p>

        <p>Contacte-me se tiver um projecto que queira ver transformado num pequeno filme.</p>

        <a href="mailto:info@ocvideos.pt">
            <i class="fa fa-envelope"></i>info@ocvideos.pt
        </a>
    </section>
</div>
