<!-- Intro -->
<div class="container intro">
    <div class="row">
        <section class="nine columns">
            <h2>{{title}}</h2>

            {{{text}}}

            <a href="mailto:{{email}}">
                <i class="fa fa-envelope"></i>{{email}}
            </a>
        </section>
    </div>
</div>
