<!-- Work -->
<div class="work">
    <div class="row">
        <section class="four columns">
            <a href="https://vimeo.com/140846726" target="_blank" title="Be Prio 2015 (Teaser)"> <img src="img/work_08.jpg">
                <h2>Be Prio 2015 (Teaser)</h2>
                <p>Evento da PRIO, na Quinta das Lágrimas em Coimbra, organizado pela TEAM BUILDING.</p>
            </a>
        </section>

        <section class="four columns">
            <a href="https://vimeo.com/142559491" target="_blank" title="Gramido">
                <img src="img/work_09.jpg">
                <h2>Gramido</h2>
                <p>Um passeio na margem do rio Douro em Gramido, Gondomar.</p>
            </a>
        </section>

        <section class="four columns">
            <a href="https://vimeo.com/140141038" target="_blank" title="Primeira Comunhão"> <img src="img/work_07.jpg">
                <h2>Primeira Comunhão</h2>
                <p>Cerimónia da Primeira Comunhão no Mosteiro do Divino Salvador de Moreira.</p>
            </a>

        </section>
    </div>

    <div class="row">
        <section class="four columns">
            <a href="https://vimeo.com/137212859" target="_blank" title="Sonae Tlantic Team Cooking">
                <img src="img/work_06.jpg">
                <h2>Sonae/Tlantic - Team Cooking</h2>
                <p>Evento das empresas SONAE e TLANTIC organizado pela TEAM BUILDING.</p>
            </a>
        </section>
        <section class="four columns">
            <a href="https://vimeo.com/137959986" target="_blank" target="_blank" title="Firmo Team Experience">
                <img src="img/work_03.jpg">
                <h2>Firmo - Team Experience</h2>
                <p>Evento da FIRMO, na Fundação Dr. António Cupertino de Miranda/Museu do Papel Moeda, organizado pela TEAM BUILDING com palestra do Prof. Dr. Jorge Sequeira.</p>
            </a>
        </section>

        <section class="four columns">
            <a href="https://www.youtube.com/watch?v=q_ACHv_EHDI" target="_blank">
                <img src="img/work_01.jpg">
                <h2>Team Building - Palestra</h2>
                <p>A palestra dada no auditório municipal de Vila Nova de Gaia, pelo Prof. Dr. Jorge Sequeira, teve como tema "Fúria de Vencer".</p>
            </a>
        </section>
    </div>

    <div class="row">
        <section class="four columns">
            <a href="https://vimeo.com/137212859" target="_blank" title="Sonae Tlantic Team Cooking">
                <img src="img/work_06.jpg">
                <h2>Sonae/Tlantic - Team Cooking</h2>
                <p>Evento das empresas SONAE e TLANTIC organizado pela TEAM BUILDING.</p>
            </a>
        </section>
        <section class="four columns">
            <a href="https://vimeo.com/137959986" target="_blank" target="_blank" title="Firmo Team Experience">
                <img src="img/work_03.jpg">
                <h2>Firmo - Team Experience</h2>
                <p>Evento da FIRMO, na Fundação Dr. António Cupertino de Miranda/Museu do Papel Moeda, organizado pela TEAM BUILDING com palestra do Prof. Dr. Jorge Sequeira.</p>
            </a>
        </section>

        <section class="four columns">
            <a href="https://www.youtube.com/watch?v=q_ACHv_EHDI" target="_blank">
                <img src="img/work_01.jpg">
                <h2>Team Building - Palestra</h2>
                <p>A palestra dada no auditório municipal de Vila Nova de Gaia, pelo Prof. Dr. Jorge Sequeira, teve como tema "Fúria de Vencer".</p>
            </a>
        </section>
    </div>
</div>
